<tr class="log-entry <%= klass %>">
    <td><%= client %></td>
    <td><%= instance %></td>
    <td class="timestamp"><%= timestamp %></td>
    <td><%= language %></td>
    <td><%= type %></td>
    <td><%= source %></td>
    <td><%= user_id %></td>
    <td><%= msg %></td>
    <td class="data"><%= data %></td>
</tr>
